NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000
DATABASE_URL=postgresql://usuario:contrasena@localhost:5432/nombre_base?schema=public
JWT_ACCESS_SECRET=cambia-este-valor
JWT_REFRESH_SECRET=cambia-este-valor
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
BCRYPT_SALT_ROUNDS=12